.con {
     display: flex;
     max-width: 60rem;
     width: 95%;
     margin: 50px auto;
   }
   .avatar {
     color: white;
   }
   .span {
     margin: 2rem;
   }
   .new p {
     margin: 2rem;
     color: indigo;
   }
   